*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Andada Pro', serif;
}
html, body {
    background-color: rgb(182, 181, 181) !important;
    overflow-x: hidden;

}

